html {
    box-sizing: border-box;
    }
    * {
    box-sizing: inherit;
    }

body {
    background-color: #000;
    color: #fff;
    text-align: center;
}

h1 {
    font-family: Orbitron, 'Libre Baskerville', 'Times New Roman', serif;
    font-size: 3.5em;
    margin: 1em 0;
}

p {
    font-family: Roboto, Mulish, Verdana, sans-serif;
    font-size: 1.1em;
}

#mainpagecontent {
    margin: 3em 3em 0 3em;
    border: .1em solid #fff;
    padding: 1em 3em;
}

.caption {
    font-size: .8em;
    margin: 1em 0 2em 0;
}
